@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Azeret Mono;
}
/* Header Navbar Section */
.naver {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 50px;
  margin-left: 150px;
}
.download-btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  background: none;
  /* width: 180px;
  height: 24px; */
  padding: 20px;
  margin-right: 135px;
  margin-top: 50px;
  cursor: pointer;
}
/* Header Banner Section */
.banner {
  background-image: url(./assets/Hero-bg.png);
  width: 100vw;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  width: 80%;
  margin-top: 35px;
}
.banner-descript {
  text-align: center;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 25px;
}
.banner-btn {
  text-align: center;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
  margin-top: 50px;
  margin-bottom: 45px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
/* Container-Section  */
.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-main-content {
  background-color: rgba(13, 19, 33, 0.02);
  padding: 80px 96px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.card-div {
  display: flex;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin-top: 48px;
  justify-content: center;
  align-items: center;
}
.card-content {
  width: 50%;
}
.card-title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.card-descript {
  margin-top: 16px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.card-btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px;
  background: none;
  margin-top: 32px;
  margin-bottom: 10px;
  width: 150px;
  height: 48px;
}
.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* inspiration Part */
.inspiration-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inspiration-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 88px;
}
.inspiration-descript {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 24px;
}
.inspiration-content {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 32px;
  border-radius: 16px;
  margin-top: 48px;
}
/* My Current Target Saection   */
.target-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.target-title {
  margin-top: 150px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.target-descript {
  margin-top: 24px;
}
.target-card {
  margin: 80px 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.card-item {
  padding: 40px;
  width: 284px;
  height: 320px;
  margin-top: 48px;
}
.card-1 {
  background: rgba(255, 76, 30, 0.05);
  border-radius: 16px;
  margin-left: 24px;
}
.card-2 {
  border-radius: 16px;
  margin-left: 24px;
  background: rgba(0, 76, 232, 0.05);
}
.card-3 {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  margin-left: 24px;
}
.card-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
}
.card-descript {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 15px;
}
.card-item > a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  align-items: start;
}
